//
// Color system
//

$blue:    #549DE3 !default; // custom
// $indigo:  #6610f2 !default;
$purple:  #6774DF !default; // primary
// $pink:    #e83e8c !default;
$red:     #ff7076 !default; // custom
// $orange:  #fd7e14 !default;
$yellow:  #F5B666 !default; // custom
$green:   #7DC668 !default; // custom
// $teal:    #20c997 !default;
$cyan:    #5dd2bc !default; // custom

// $colors: () !default;
// $colors: map-merge((
//   blue: $blue,
//   indigo: $indigo,
//   purple: $purple,
//   pink: $pink,
//   red: $red,
//   orange: $orange,
//   yellow: $yellow,
//   green: $green,
//   teal: $teal,
//   cyan: $cyan,
//   white: $white,
//   gray: $gray-600,
//   gray-dark: $gray-800
// ), $colors);

$theme-colors: () !default;


$theme-colors: map-merge((
  primary: $purple,
  primary-dark: #36384C,
  success: $green,
  info: $cyan,
  warning: $yellow,
  danger: $red,
  body-bg: rgba(239,244,248,1),
  border-color: #E2E8EE,
  text-color: #424770,
  link-color: $blue,
  facebook: #3B5998,
  twitter: #00ACED,
  instagram: #E4405F,
  dribbble: #EA4C89,
  gray: rgba(0,0,0,.84)
), $theme-colors);


// CUSTOM STUFF TO BE MOVED
$body-bg: theme-color("body-bg");
$border-color: theme-color("border-color");
$hr-border-color: $border-color;
$body-color: theme-color("text-color");
$link-color:  theme-color("link-color");
$bg-facebook: theme-color("facebook");
$bg-twitter: theme-color("twitter");
$bg-instagram: theme-color("instagram");
$bg-dribbble: theme-color("dribbble");

// SIDEBAR
$border-color: #E2E8EE;

$dropdown-link-active-color: #ffffff !default;
