<nav class="navbar navbar-expand-md navbar-light ">
  <a class="navbar-brand" href="index.html">

    <!-- SVG Logo -->
    <svg width="24px" height="24px" viewBox="0 0 23 23" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMaxYMin meet">
      <defs></defs>
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <path d="M3,-3.15936513e-15 L20,-2.74650094e-15 L20,-2.66453526e-15 C21.6568542,-2.96889791e-15 23,1.34314575 23,3 L23,20 L23,20 C23,21.6568542 21.6568542,23 20,23 L6,23 L3,23 L3,23 C1.34314575,23 1.09108455e-15,21.6568542 8.8817842e-16,20 L0,3 L0,3 C-2.02906125e-16,1.34314575 1.34314575,-3.24835102e-15 3,-3.55271368e-15 Z" id="logoBackground"></path>
        <rect id="Rectangle-6" fill="#FFFFFF" x="1.0952381" y="12.0960631" width="9.96553315" height="9.76943696"></rect>
        <rect id="Rectangle-6-Copy" fill="#FFFFFF" x="11.9533428" y="1.05597629" width="9.96553315" height="9.76943696"></rect>
      </g>
    </svg>
    <!-- //End SVG Logo -->

    <span class="navbar-brand-text">flow</span>
    <small class="text-muted">FREE BS4 ADMIN</small>
  </a>
  <button class="navbar-toggler navbar-toggler-right d-md-none d-lg-none" type="button" data-toggle="sidebar">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="mainNavbar">
    <ul class="navbar-nav ml-auto ">
      <li class="nav-item  align-self-center mr-2">
        <a href="https://www.frontted.com/products/flow-base" class="btn btn-success nav-button d-flex">
          <span>DOWNLOAD FREE</span>
        </a>
      </li>
      <li class="nav-item dropdown nav-dropdown">
          <a href="#" class="nav-link dropdown-toggle dropdown-clear-caret" data-toggle="dropdown" aria-expanded="false">
            Dashboard <img src="assets/images/avatars/andrew-robles-300868.jpg" class="img-fluid rounded-circle ml-1" width="35" alt="">
          </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-menu-account">
            <div class="account-info">
              <img src="assets/images/avatars/andrew-robles-300868.jpg" class="img-fluid rounded-circle mr-2" width="45" alt="">
              <div class="lh-12">
                <a href="profile.html"><strong>Andrew Robles</strong></a>
                <div class="text-light">Site Manager</div>
              </div>
            </div>
            <ul class="list-unstyled account-menu">
              <li><a href="#" class="dropdown-item"><i class="material-icons md-18 align-middle mr-1">lock</i> <span class="align-middle">Account</span></a></li>
              <li><a href="#" class="dropdown-item"><i class="material-icons md-18 align-middle mr-1">account_circle</i> <span class="align-middle">Profile</span></a></li>
              <li><a href="#" class="dropdown-item"><i class="material-icons md-18 align-middle mr-1">settings</i> <span class="align-middle">Settings</span></a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </nav>