---
title: Flow
slug: forms-checkboxes-radios
---
{% extends "./layouts/default.html" %}

{% block page %}
<div class="container-fluid">
  <h2>Checkboxes and Radios</h2>
  <p class="lead">
    Improved default and custom styled checkboxes, radios and switch buttons.
  </p>
  <hr>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Default (stacked)</h4>
    </div>
    <div class="card-body">
      <div class="mb-3">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" value="">
            Option one is this and that&mdash;be sure to include why it's great
          </label>
        </div>
        <div class="form-check disabled">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" value="" disabled>
            Option two is disabled
          </label>
        </div>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
          Option one is this and that&mdash;be sure to include why it's great
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
          Option two can be something else and selecting it will deselect option one
        </label>
      </div>
      <div class="form-check disabled">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" disabled>
          Option three is disabled
        </label>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Inline</h4>
    </div>
    <div class="card-body">
      <div class="mb-3">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"> 1
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2"> 2
          </label>
        </div>
        <div class="form-check form-check-inline disabled">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" disabled> 3
          </label>
        </div>
      </div>
      <div class="form-check form-check-inline">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 1
        </label>
      </div>
      <div class="form-check form-check-inline">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> 2
        </label>
      </div>
      <div class="form-check form-check-inline disabled">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" disabled> 3
        </label>
      </div>
    </div>
  </div>
  <h4 class="page-section">Custom styling</h4>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Custom Checkboxes</h4>
    </div>
    <div class="card-body">
      <label class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Check this custom checkbox</span>
      </label>
    </div>
    <div class="card-header">
      Custom checkboxes can also utilize the <code>:indeterminate</code> pseudo class when manually set via JavaScript (there is no available HTML attribute for specifying it).
    </div>
    <div class="card-body">
      <label class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input ind-checkbox">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Check this custom checkbox</span>
      </label>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Radios</h4>
    </div>
    <div class="card-body">
      <label class="custom-control custom-radio">
        <input id="radio1" name="radio" type="radio" class="custom-control-input">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Toggle this custom radio</span>
      </label>
      <label class="custom-control custom-radio">
        <input id="radio2" name="radio" type="radio" class="custom-control-input">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Or toggle this other custom radio</span>
      </label>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Disabled</h4>
    </div>
    <div class="card-body">
      <label class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" disabled>
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Check this custom checkbox</span>
      </label>

      <label class="custom-control custom-radio">
        <input id="radio3" name="radioDisabled" type="radio" class="custom-control-input" disabled>
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Toggle this custom radio</span>
      </label>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Stacked</h4>
    </div>
    <div class="card-body">
      <div class="custom-controls-stacked">
        <label class="custom-control custom-radio">
          <input id="radioStacked3" name="radio-stacked" type="radio" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Toggle this custom radio</span>
        </label>
        <label class="custom-control custom-radio">
          <input id="radioStacked4" name="radio-stacked" type="radio" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Or toggle this other custom radio</span>
        </label>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Checkbox buttons</h4>
    </div>
    <div class="card-body">
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary active">
          <input type="checkbox" checked autocomplete="off"> Checkbox 1 (pre-checked)
        </label>
        <label class="btn btn-primary">
          <input type="checkbox" autocomplete="off"> Checkbox 2
        </label>
        <label class="btn btn-primary">
          <input type="checkbox" autocomplete="off"> Checkbox 3
        </label>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">
        Radio buttons
      </h4>
    </div>
    <div class="card-body">
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary active">
          <input type="radio" name="options" id="option1" autocomplete="off" checked> Radio 1 (preselected)
        </label>
        <label class="btn btn-primary">
          <input type="radio" name="options" id="option2" autocomplete="off"> Radio 2
        </label>
        <label class="btn btn-primary">
          <input type="radio" name="options" id="option3" autocomplete="off"> Radio 3
        </label>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
  <script>
    $('.ind-checkbox').prop('indeterminate', true)
  </script>
{% endblock %}